.readNowContainer {
  height: 100%;
}

.answerListContainr {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000;
  background: #fafafa;
}

.answerListQuestion {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.72px;
  cursor: pointer;
}

.answerListReqDate {
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.54px;
}

.answerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-bottom: 1px solid #000;
}

.answerCardQuestionBox {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid #bcbcbc;
  margin-top: 20px;
}

.answerCardQuestionBoxInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.answerCardQuestion {
  font-size: 24px;
  line-height: 30px; /* 125% */
  letter-spacing: -0.72px;
}
.answerCardregistDate {
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.54px;
}
.answerCardMessageBox {
  font-size: 60px;
  line-height: 80px; /* 133.333% */
  letter-spacing: -1.8px;
  width: 100%;
  min-height: 500px;
}

.playButton .circle {
  fill: #c2c2c2;
}

.playButton:hover .circle {
  fill: #007aff;
}

.readCardUnderline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-position: under;
  text-decoration-color: #007aff;
  cursor: pointer;
  position: relative;
}
.readCardImageTooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  left: 40px;
  bottom: -60px;
  display: none;
  width: 100%;
  height: 100%;
}
.readCardImageTooltip img {
  max-width: 300px;
}
.readCardUnderline:hover .readCardImageTooltip {
  display: block; /* hover 시에만 보임 */
}
